/* the overlayed element */
.apple_overlay { /* initially overlay is hidden */
	display: none;
	/* growing background image */
	background-image: url(../images/white.png);
	/* 
		width after the growing animation finishes
		height is automatically calculated
	*/
	width: 640px;
	/* some padding to layout nested elements nicely  */
	padding: 35px;
	/* a little styling */
	font-size: 16px;
}

#main_description.apple_overlay {
	width: 450px;
	height: 600px;
	background-image: url(../images/white_allungata.png);
}

#chi_siamo.apple_overlay {
	width: 740px;
	height: 300px;
	background-image: url(../images/white_ridotta.png);
}

/* default close button positioned on upper right corner */
.apple_overlay .close {
	background-image: url(../images/close.png);
	position: absolute;
	right: 5px;
	top: 5px;
	cursor: pointer;
	height: 35px;
	width: 35px;
}

#main_description>.details {
	width: auto;
	position: absolute;
	left: 50px;
}

#chi_siamo>.details {
	width: 200px;
}

.details {
	position: absolute;
	top: 40px;
	right: 50px;
	/*color: #fff; */
	width: 150px;
	text-align: justify;
}