@CHARSET "UTF-8";

.hidden {
	display: none;
}

div#header>span>a {
	text-decoration: none;
}

div#header {
	font-size: 22px;
	color: #697b7c;
}

div#header>* {
	display: inline;
	text-transform: none;
}

div#header>form>div {
	display: inline;
}

#logo {
	padding-bottom: 5px;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	width: 800px;
}

h1 {
	font-size: 24px;
	/*	text-transform: capitalize;*/
	vertical-align: top;
	margin-bottom: 0px;
}

h2 { /*	font-weight: bold;*/
	font-size: 18px;
}

#claim {
	display: inline-table;
	width: 300px;
	padding-left: 25px;
}

#header>p {
	
}

.container {
	position: relative;
	width: 100%;
}

.right { /*position: absolute;
	right: 0px;*/
	float: right;
}

.top {
	vertical-align: top;
}

.bottom {
	vertical-align: bottom;
}

div#footer>* {
	display: inline;
	font-size: small;
}

div#footer>ul>li {
	display: inline;
}

#mascotte {
	left: 83px;
	position: relative;
}

#main_image {
	left: 133px;
	position: relative;
}

#ascolta {
	cursor: pointer;
	position: absolute;
	/*	left: 10px;*/
	z-index: 1;
	left: 630px;
	top: 400px;
	height: 50px;
}

#audiosecure {
	display: block;
	width: 687px;
	height: 30px;
	/*position: absolute;*/
	left: 10px;
	/*z-index: 1;	*/
	padding-left: 40px;
}

#actions {
	display: none;
}

.scrollable {
	overflow-y: auto;
	height: 500px;
}

.tooltip {
	display: none;
	background-color: #ffa;
	border: 1px solid #cc9;
	padding: 3px;
	font-size: 16px;
	-moz-box-shadow: 2px 2px 11px #666;
	-webkit-box-shadow: 2px 2px 11px #666;
	font-family: Arial, Helvetica, sans-serif;
}

#flash {
	height: 400px;
	cursor: pointer;
}

.addthis_default_style {
	float: right;
	left: 710px;
	position: absolute;
	top: 35px;
	width: 184px;
}

.sottotitolo {
	font-style: italic;
	font-size: 18px;
	margin-top: 0px;
}

a:visited {
	padding-left: 14px;
	background: url(images/checkmark.jpeg) left no-repeat;
}
