@CHARSET "UTF-8";

body {
	counter-reset: section
}

h2.autonumber {
	counter-reset: sub-section
}

h3.autonumber {
	counter-reset: composite
}

h4.autonumber {
	counter-reset: detail
}

h2.autonumber:before {
	counter-increment: section;
	content: counter(section) " - ";
}

h3.autonumber:before {
	counter-increment: sub-section;
	content: counter(section) "." counter(sub-section) " ";
}

h4.autonumber:before {
	counter-increment: composite;
	content: counter(section) "." counter(sub-section) "."
		counter(composite) " ";
}

h5.autonumber:before {
	counter-increment: detail;
	content: counter(section) "." counter(sub-section) "."
		counter(composite) "." counter(detail) " ";
}